<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.疫苗護照PPCare"
        tools:targetApi="31">
        <activity
            android:name=".Activities.edit_vo"
            android:exported="false" />
        <activity
            android:name=".Activities.edit_pwd"
            android:exported="false" />
        <activity
            android:name=".Activities.setting"
            android:exported="false" />
        <activity
            android:name=".Activities.set_per_info"
            android:exported="false" />
        <activity
            android:name=".Activities.passport"
            android:exported="false" />
        <activity
            android:name=".Activities.edu_info"
            android:exported="false" />
        <activity
            android:name=".Activities.epidemic_info"
            android:exported="false" />
        <activity
            android:name=".Activities.pcr"
            android:exported="false" />
        <activity
            android:name=".Activities.RegisterScreen"
            android:exported="false" />
        <activity
            android:name=".Activities.HomeScreen"
            android:exported="false" />
        <activity
            android:name=".Activitys.login"
            android:exported="false" />
        <activity
            android:name=".Activitys.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>